body{
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/66284/winter-nature-season-trees-66284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position:center;
  overflow-x: hidden;
}
